<!-- Copy to C:\Windows\Microsoft.NET\Framework\v4.0.30319\Config -->
<configuracao>
	<dtb_bmbdigital>server=D800B004.br800.corpintra.net\NS15;database=dtb_bmbdigital;user id=profiler;password=profiler;</dtb_bmbdigital>
	<dtb_localizapp>server=D800B004.br800.corpintra.net\NS15;database=dtb_localizapp;user id=profiler;password=profiler;</dtb_localizapp>
	<dtb_alliance>server=D800B004.br800.corpintra.net\NS15;database=dtb_alliance;user id=alliance;password=alliance;</dtb_alliance>
	<dtb_azman>server=D800B004.br800.corpintra.net\NS15;database=dtb_azman;user id=scontrol;password=control;</dtb_azman>
	<dtb_atendimento>server=D800B004.br800.corpintra.net\NS15;database=dtb_atendimento;user id=atendimento;password=atendimento;</dtb_atendimento>
	<dtb_autoriza>server=D800B004.br800.corpintra.net\NS15;database=dtb_autoriza;user id=autoriza;password=autoriza;</dtb_autoriza>
	<dtb_bankline>server=D800B004.br800.corpintra.net\NS15;database=dtb_bankline;user id=usr_bankline;password=usr_bankline;</dtb_bankline>
	<dtb_checklist>server=D800B004.br800.corpintra.net\NS15;database=dtb_checklist;user id=checklist;password=checklist;</dtb_checklist>
	<dtb_bsc>server=D800B004.br800.corpintra.net\NS15;database=dtb_bsc;user id=bsc;password=bsc;</dtb_bsc>
	<dtb_cheque_devolvido>server=D800B004.br800.corpintra.net\NS15;database=dtb_cheque_devolvido;user id=cheque_devolvido;password=cheque_devolvido;</dtb_cheque_devolvido>
	<dtb_citrix>server=D800B004.br800.corpintra.net\NS15;database=dtb_citrix;user id=citrix;password=citrix;</dtb_citrix>
	<dtb_cobranca>server=D800B004.br800.corpintra.net\NS15;database=dtb_cobranca;user id=cobranca;password=cobranca;</dtb_cobranca>
	<dtb_comissao>server=D800B004.br800.corpintra.net\NS15;database=dtb_comissao;user id=comissao;password=comissao;</dtb_comissao>
	<dtb_corporativo>server=D800B004.br800.corpintra.net\NS15;database=dtb_corporativo;user id=corporativo;password=corporativo;</dtb_corporativo>
	<dtb_disoft>server=D800B004.br800.corpintra.net\NS15;database=dtb_disoft;user id=disoft;password=disoft;</dtb_disoft>
	<dtb_extranet>server=D800B004.br800.corpintra.net\NS15;database=dtb_extranet;user id=extranet;password=extranet;</dtb_extranet>
	<dtb_faturamento>server=D800B004.br800.corpintra.net\NS15;database=dtb_faturamento;user id=faturamento;password=faturamento;</dtb_faturamento>
	<dtb_ged>server=D800B004.br800.corpintra.net\NS15;database=dtb_ged;user id=ged;password=ged;</dtb_ged>
	<dtb_gescob>server=D800B004.br800.corpintra.net\NS15;database=dtb_gescob;user id=gescob;password=gescob;</dtb_gescob>
	<dtb_helpdesk>server=D800B004.br800.corpintra.net\NS15;database=dtb_helpdesk;user id=helpdesk;password=helpdesk;</dtb_helpdesk>
	<dtb_infcons>server=D800B004.br800.corpintra.net\NS15;database=dtb_infcons;user id=infcons;password=infcons;</dtb_infcons>
	<dtb_link>server=D800B004.br800.corpintra.net\NS15;database=dtb_link;user id=link;password=link;</dtb_link>
	<dtb_manutencao_db>server=D800B004.br800.corpintra.net\NS15;database=dtb_manutencao_db;user id=manutencao_db;password=manutencao_db;</dtb_manutencao_db>
	<dtb_olap>server=D800B004.br800.corpintra.net\NS15;database=dtb_olap;user id=olap;password=olap;</dtb_olap>
	<dtb_proteu>server=D800B004.br800.corpintra.net\NS15;database=dtb_proteu;user id=proteu;password=proteu;</dtb_proteu>
	<dtb_proteu_2>server=D800B004.br800.corpintra.net\NS15;database=dtb_proteu_2;user id=proteu_2;password=proteu_2;</dtb_proteu_2>
	<dtb_psrisco>server=D800B004.br800.corpintra.net\NS15;database=dtb_psrisco;user id=risco;password=risco;</dtb_psrisco>
	<dtb_recbanc>server=D800B004.br800.corpintra.net\NS15;database=dtb_recbanc;user id=recbanc;password=recbanc;</dtb_recbanc>
	<dtb_relsun>server=D800B004.br800.corpintra.net\NS15;database=dtb_relsun;user id=relsun;password=relsun;</dtb_relsun>
	<dtb_risco>server=D800B004.br800.corpintra.net\NS15;database=dtb_risco;user id=risco;password=risco;</dtb_risco>
	<dtb_ns15acao>server=D800B004.br800.corpintra.net\NS15;database=dtb_ns15acao;user id=ns15acao;password=ns15acao;</dtb_ns15acao>
	<dtb_sispag>server=D800B004.br800.corpintra.net\NS15;database=dtb_sispag;user id=sispag;password=sispag;</dtb_sispag>
	<dtb_sun>server=D800B004.br800.corpintra.net\NS15;database=dtb_sun;user id=sun;password=sun;</dtb_sun>
	<dtb_tributos>server=D800B004.br800.corpintra.net\NS15;database=dtb_tributos;user id=tributos;password=tributos;</dtb_tributos>
	<dtb_view>server=D800B004.br800.corpintra.net\NS15;database=dtb_view;user id=scontrol;password=control;</dtb_view>
	<dtb_warehouse>server=D800B004.br800.corpintra.net\NS15;database=dtb_warehouse;user id=warehouse;password=warehouse;</dtb_warehouse>
	<dtb_webguardian>server=D800B004.br800.corpintra.net\NS15;database=dtb_webguardian;user id=wgn;password=wgn;</dtb_webguardian>
	<dtb_rentecao>server=D800B004.br800.corpintra.net\NS15;database=dtb_rentecao;user id=rentecao;password=rentecao;</dtb_rentecao>
	<dtb_credito>server=D800B004.br800.corpintra.net\NS15;database=dtb_credito;user id=scontrol;password=control;</dtb_credito>
	<dtb_simulacao>server=D800B004.br800.corpintra.net\NS15;database=dtb_simulacao;user id=simulacao;password=simulacao;</dtb_simulacao>
	<dtb_pld>server=D800B004.br800.corpintra.net\NS15;database=dtb_pld;user id=pld;password=pld;</dtb_pld>
	<dtb_sap>server=D800B004.br800.corpintra.net\NS15;database=dtb_sap;user id=sap;password=sap;</dtb_sap>
</configuracao>
